html{
  font-size: 10;
}
html, body, #root{
  height: 100%;
}

#text{
  font-weight: 500;
  font-size: 1.75em;
}

#author{
  font-size: 1.1em;
}

#text a, #text i, #author a{
  color: orange;
}

.btn{
  background-color: orange !important;
  color: white !important;
}

.btn i{
  color: white;
}

#my_ident{
  font-size: 0.8em;
  color: white;
}